<h2>Sign in to continue your CouchTrip</h2>

<form class="form signin-form" action="/signin" method="POST">
  <label for="signup-email">Email</label>
  <input id="signup-email" name="email" type="email">

  <label for="signup-password">Password</label>
  <input id="signup-password" name="password" type="password">
  
  <button class="btn" type="submit">Sign up</button>
</form>
