<h2>Signin</h2>
<p>Continue your CouchTrip</p>

<form action="POST" method="/signin">
  <label for="signup-email">Email</label>
  <input id="signup-email" name="email" type="email">

  <label for="signup-password">Password</label>
  <input id="signup-password" name="password" type="password">
  
  <button type="submit">Sign up</button>
</form>
