<div class="start-screen">

<div class="start-left">
 
<h1>{{title}}</h1>
<h2>Travel the world.<br>Don't leave your home.</h2>

<div class="start-logo-box">
<img class="start-logo" src="/images/CT_4.png" alt="CT Logo">
</div>





<div class ="intro">
<p>CouchTrip lets you explore the world from your home. We recommend books and films to take you to your favourite places you've never been.</p>
</div>

</div>

<div class="start-right">
<h4>Login</h4>

<form class="form login-form" action="/signin" method="POST">
  <label for="login-email">Email</label>
  <input id="login-email" name="email" type="text">
  <label for="password">Password</label>
  <input id="login-password" name="password" type="password">
  <button class="btn" type="submit">Login</button>
</form>

<p class="get-started" >First time here? <a href="/signup">Get started</a></p> 

</div>
</div>