<h1>{{title}}</h1>
<h2>Travel the world. Don't leave your home.</h2>

<p>CouchTrip lets you explore the world from your home. We recommend books and films to take you to your favourite places you've never been.</p>

<h3>Log in</h3>

<form action="POST" method="auth/login">
  <label for="login-email">Email</label>
  <input id="login-email" name="email" type="text">
  <label for="login-password">Password</label>
  <input id="login-password" name="password" type="password">
  <button type="submit">Log in</button>
</form>

<p>First time here?</p> <a href="#">Get started</a>