<h1>{{title}}</h1>
<h2>Travel the world.<br>Don't leave your home.</h2>

<p>CouchTrip lets you explore the world from your home. We recommend books and films to take you to your favourite places you've never been.</p>

<h3>Log in</h3>

<form class="form login-form" action="POST" method="login">
  <label for="login-email">Email</label>
  <input id="login-email" name="email" type="text">
  <label for="login-password">Password</label>
  <input id="login-password" name="password" type="password">
  <button class="btn" type="submit">Log in</button>
</form>

<p class="get-started" >First time here? <a href="#">Get started</a></p> 