<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{CouchTrip}}</title>
   <link href="https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap" rel="stylesheet"> 
   	
  <link rel='icon' href='/images/favicon.ico' type='image/x-icon'/ >
  <script src="https://kit.fontawesome.com/dbeb0119d1.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

{{#if loggedInUser}}
    <nav id="navbar">
      <img class="nav-logo" src="/images/CT_3.png" alt="CT Logo">
      <ul class="nav-list">
        <li><a href="/profile"><i class="fas fa-user"></i><span class="menu-span">Profile</span></a></li>
        <li><a href="/my-trips"><i class="fas fa-map-marked-alt"></i><span class="menu-span">My Trips</span></a></li>
        <li><a href="/new-country"><i class="fas fa-plus"></i><span class="menu-span">New Trip</span></a></li>
      </ul>
      <button class="logout-btn"><a href="/logout">Log out</a></button>
    </nav>
{{/if}}

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>