body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 10px;
  
  background-image: linear-gradient( 45deg, pink, white );
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.start-screen { 
  margin: 0;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1577951645595-b301174d680c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.signup-screen > h2 {
  padding-top: 120px;
  margin-bottom: 20px;
  color: pink;
}

.signin-screen > h2 {
  padding-top: 120px;
  margin-bottom: 20px;
  color: pink;
}

.signup-screen > p {
  width: 60%;
  margin: auto;
}

.error-screen {
  margin: 0;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1533225737818-2a9101586b15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;  
}

.user-screen {
  margin-top: 150px;
}

.user-screen > h1 {
  padding-top: 10px;
}

.user-info {
  color: #0c6785;
  font-weight: lighter;
  margin-bottom: 20px;
}

.user-info-textbox {
  margin-left: calc(50vw - 150px);
  width: 300px;
  text-align: left;
}


.edit-profile {
  background-color: #0c6785;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  margin: 10px auto;
  padding: 2.5px;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
}

#navbar {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100vw;
  background: url('https://images.unsplash.com/photo-1577951645595-b301174d680c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.nav-list > li > a{
  text-decoration: none;
  margin: 30px;
  padding: 0;
  font-size: 1.2rem;
}

.fas {
  font-size: 1.3rem;
  color: pink;
  margin: 0;
}

.menu-span {
  display: none;
}

#myVideo {
  display: none;
}


.new-country-screen {
  margin-top: 200px;
}

p {
  font-size: 0.9rem;
}

a {
  color: pink;
}

h1 {
  font-family: 'Molle', cursive;
  font-size: 3.8rem;
  color: pink;
  margin: 0;
  padding-top: 50px;
}

h2 {
  font-size: 1.3rem;
  color: pink;
  margin: 0;
}
h3 {
  font-family: 'Molle', cursive;
  font-size: 2rem;
  color: #0c6785;
}

h4 {
  font-size: 1.1rem;
  color: pink;
}

h5 {
  font-family: 'Molle', cursive;
  font-size: 1.2rem;
  color: pink;
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > label {
  font-size: 0.8rem;
  margin: 5px auto;
}

.form > input {
  border: none;
  border-bottom: 2px solid pink;
  background: transparent;
  color: pink;
  width: 200px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}
.form > input:focus {
  outline: none;
  background: transparent;
}

.btn {
  background: pink;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  margin: 10px auto;
  padding: 2.5px;
  font-weight: bold;
}

.logout-btn {
  background: transparent;
  border: none;
  margin-right: 10px;
  font-size: 1.1rem;
}

.logout-btn > a {
  text-decoration: none;
}

.search-country-btn {
  background-color: #0c6785;
  padding: 5px;
}

.profile-edit-btn {
  background-color: #0c6785;
  padding: 5px;
}

.edit-profile-btn {
  background-color: #0c6785;
  padding: 5px;
}

.add-country-btn {
  background-color: #0c6785;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  color: white;
  width: 250px;
  margin: 10px auto 30px;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.login-form {
  margin-top: 10px;
}

.signin-form {
  margin-top: 40px;
}

.signup-form {
  margin-top: 40px;
}

.search-country-form {
  margin-top: 20px;
}

.search-country-form > input {
  color: #0c6785;
  font-size: 1.2rem;
  font-weight: normal;
}

.edit-user-form > label {
  color: pink;
}

.edit-user-form > input {
  color: #0c6785;
}

.edit-user-form > button {
  background-color: #0c6785;
}

.intro {
  width: 300px;
  margin: 30px auto;
  padding-bottom: 5px;
}

.intro > p{
font-size: 0.8rem;
}

#profile-country-collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.country-pic {
  width: 200px;
  height: 200px;
  background-position: center center;
  object-fit: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}

.country-info {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px 10px;
  background-color: #0c6785;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.country-info > a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  margin: 5px;
}

.country-info > h4 {
  color: pink;
}

#country-media-collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.media-info {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px 20px;
  background-color: pink;
  color: #0c6785;
  border-radius: 10px;
  padding: 10px;
}

.media-info h4{
  color: white;
  font-size: 2rem;
  margin: 0 0 5px 0;
}

.media-img {
  width: 200px;
  margin: 0 auto 10px;
}

.media-img-box {
  height: 330px;
}

.media-title-box {
  height: 80px;
  overflow: hidden;
}

.media-description-box {
  height: 150px;
}

.rating {
  font-size: 0.9rem;
  font-weight: bold;
}

.profile-pic {
  width: 300px;
}

.start-logo-box {
  position: relative;
  height: 100px;
  margin-bottom: 10px;
}

.start-logo {
  width: 150px;
  position: absolute center center;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.head-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  width: 60px;
  margin-left: 10px;
}

.whatsapp-button {
  background-color: #25d366;
  color: white;
  border-radius: 5px;
  height: 28px;
  width: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-button > a {
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}

.twitter-share-button {
  padding: 0;
  margin: auto;
}

.social-media-box-outer {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin: auto;
}

.social-media-box {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 7.2em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */

  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: pink;
}

.pic-upload-box > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.pic-upload-box > h2 {
  color: white;
  margin: 20px 0;
}


.form-control-file::-webkit-file-upload-button {
  visibility: hidden;
}

.form-control-file::before {
  content: 'Select picture';

  background: #0c6785;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  margin: 10px auto;
  padding: 2.5px 5px;
  font-weight: bold;
  outline: none;
  
  -webkit-user-select: none;
  cursor: pointer;
}

.form-control-file:hover::before {
  border: none;
}
.form-control-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.upload-btn {
  background-color: #0c6785; 
}

.error-message {
  color: #0c6785;
}



.fav-btn {
  position: relative;
  width: 50px;
  height: 45px;
}
.fav-btn:before,
.fav-btn:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 0;
  width: 25px;
  height: 40px;
  background: #0c6785;
  border-radius: 25px 25px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.fav-btn:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}


.fav-btn-country {
  position: relative;
  width: 50px;
  height: 45px;
  background: transparent;
  border: none;
}
.fav-btn-country:before,
.fav-btn-country:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 0;
  width: 25px;
  height: 40px;
  background-color: pink;
  color: pink;
  border-radius: 25px 25px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.fav-btn-country:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.fav-box {
  display: flex;
  justify-content: center;
  height: 30px;
}

.fav-box p {
  color: #0c6785;
  margin-right: 5px;
}

.fav-box label {
  color: pink;
}

.fav-box input {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
}



@media (min-width: 600px) {
  .menu-span {
    display: inline-block;
  }
  .fas {
    display: none;
  }

  .user-info-textbox {
    margin-left: calc(50vw - 250px);
    width: 500px;
    text-align: left;
  }
  .profile-pic {
    width: 500px;
  }

  .edit-user-form > input {
    width: 400px;
  }
}

@media (min-width: 1000px) {
  #myVideo {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .new-country-screen {
    background-color: pink;
    width: 500px;
    margin: 250px auto;
    padding: 10px;
    border-radius: 10px;
  }

  .new-country-screen > h3 {
    color: #0c6785;
  }

  .new-country-screen > form > input {
    border-bottom: 2px solid #0c6785;
  }

  .user-info-textbox {
    margin-left: calc(50vw - 300px);
    width: 600px;
    text-align: left;
  }
  .profile-pic {
                                                                                                                                                                                   width: 600px;
    max-height: 400px;
    object-fit: contain;
  }            

  .edit-user-form > input {
    width: 600px;                           
  }

  .start-screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .start-screen h1 {
    font-size: 8rem;
  }
  .start-screen h2 {
    font-size: 2rem;
  }
  .start-screen p {
    font-size: 1rem;
  }
  .start-logo-box {
    height: 180px
  }
  .start-logo {
    width: 200px;
  }
  .start-right {
    margin-top: 150px;
    margin-right: 100px;
  }
  .start-right h4 {
    font-size: 1.5rem;
  }
  .signup-screen {
    display: block;
  }
  .signin-screen {
    display: block;
  }
}


/*# sourceMappingURL=style.css.map */ 