<div class="user-screen">

<h3>Profile</h3>

<div class="user-info">
  <img class="profile-pic" src="https://images.unsplash.com/photo-1521146764736-56c929d59c83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Profile pic">
  <p>Name: {{loggedInUser.username}}</p>
  <p>Email: {{loggedInUser.email}}</p>
  <p>Password: **********</p>
  <p>Favourite place I've ever been: {{loggedInUser.favouritePlace}}</p>
  <a class="edit-profile" href="/profile/edit">Edit profile</a>
</div>






{{!-- <div id="mapid"></div>
<script>
  var mymap = L.map('mapid').setView([0,0], 1);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'your.mapbox.access.token'
}).addTo(mymap); 
</script>
--}}

<!--
  MAP
-->

</div>