<div class="user-screen">

<h3>Where do you want to travel?</h3>

<form class="form search-country-form" action="/{{this.countries.name}}" method="POST">

  <input list="country-list" id="country-choice" name="country-choice">

  <datalist id="country-list">

      {{#each this.countries}}
      <option value="{{this.name}}">{{this.name}}</option>
      {{/each }}
  </datalist>

  <button class="btn search-country-btn" type="submit">Take me there</button>
</form>

</div>