<div class="user-screen">

<h3>Profile</h3>

<div class="user-details">
  <p>Name: {{loggedInUser.username}}</p>
  <p>Email: {{loggedInUser.email}}</p>
  <p>Password: *******</p>
  <form action="/profile" method="POST">
    <button class="btn profile-edit-btn" type="submit">Edit</button>
  </form>
</div>

</div>