<div class="user-screen">

<h3>Profile</h3>

<img class="profile-pic" src="https://images.unsplash.com/photo-1545239351-e1433db9a918?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="Profile picture">

<div class="user-details">
  <p><span>Name:</span> {{loggedInUser.username}}</p>
  <p><span>Email:</span> {{loggedInUser.email}}</p>
  <p><span>Password:</span> *******</p>
  <form action="/profile" method="POST">
    <button class="btn profile-edit-btn" type="submit">Edit</button>
  </form>
</div>

</div>